<!--
    Copyright (C) 2017 LESERT Aymeric - aymeric.lesert@concilium-lesert.fr

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along
    with this program; if not, write to the Free Software Foundation, Inc.,
    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
-->

@model Syncytium.Web.Areas.ViewModels.UserViewModel

@if (Model.UserProfile.Language.Equals("FR"))
{
    <center><img src="@(Model.UrlRoot)Content/Images/Areas/Administration/User/MailNewPassword/Logo.png" width="200px" height="50px"/></center>
    <p>
        Si vous n'avez pas demandé un nouveau mot de passe, ignorez ce mail.
        <br />
        Si vous avez réalisé la demande, veuillez cliquer sur le lien suivant:
        <ul>
            <li><a href="@(Model.UrlRoot)Administration/User/NewPassword?key=@(Model.UserProfile.NewPasswordKey)">Mot de passe</a></li>
            <li>Identifiant : @(Model.UserProfile.Login)</li>
        </ul>
    </p>
}
