################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Syncytium.Module.Sample/obj/Debug
/Syncytium.WebJob/obj/Debug
/Syncytium.Module.Administration/obj/Debug
/Syncytium.Common/obj/Debug
