################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Syncytium.Module.Sample/obj/Debug
/Syncytium.WebJob/obj/Debug
/Syncytium.Module.Administration/obj/Debug
/Syncytium.Common/obj/Debug
/packages
/Syncytium/bin
/Syncytium/Logs
/Syncytium/obj/Debug
/Syncytium/Scripts
/Syncytium.Common/bin/Debug
/Syncytium.Module.Administration/bin/Debug
/Syncytium.Module.Sample/bin/Debug
/Syncytium.Test/bin/Debug
/Syncytium.Test/obj/Debug
/Syncytium.WebJob/bin/Debug
