################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Syncytium.WebJob/obj/
/Syncytium.WebJob/bin/
/Syncytium.Module.Administration/obj/
/Syncytium.Module.Administration/bin/
/Syncytium.Module.Customer/obj/
/Syncytium.Module.Customer/bin/
/Syncytium.Common/obj/
/Syncytium.Common/bin/
/Syncytium.Core.Common.Server/obj/
/Syncytium.Core.Common.Server/bin/
/Syncytium.Test/bin/
/Syncytium.Test/obj/
/Syncytium/bin/
/Syncytium/obj/
/Syncytium/*.user
/Syncytium/Properties/*.user
/Syncytium/Properties/PublishProfiles/*.user
/packages/
/Syncytium/Logs
/Syncytium/Scripts
/Syncytium/Content/Scripts/syncytium-common.min.js
/Syncytium/Content/Scripts/syncytium-administration.min.js
/Syncytium/Content/Scripts/syncytium-customer.min.js
/Syncytium/Content/Scripts/syncytium-customer.min.css
/Syncytium/Content/Styles/syncytium-common.min.css
/Syncytium/Content/Styles/syncytium-administration.min.css
/Syncytium/Content/Styles/syncytium-customer.min.css
/Syncytium/Database/Provider/~$Multilingual.xlsm
/Syncytium.Module.Customer/bin/Local-Formation
/Syncytium.Module.Customer/obj
