<?xml version="1.0" encoding="utf-8"?>
<packages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation=".\packages.xsd">
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
</packages>