<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="EntityFramework.Firebird" version="5.12.0" targetFramework="net452" />
  <package id="FirebirdSql.Data.FirebirdClient" version="5.12.0" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net452" />
  <package id="MySql.Data" version="6.9.10" targetFramework="net452" />
  <package id="MySql.Data.Entity" version="6.9.10" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="12.2.1100" targetFramework="net452" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net452" />
</packages>