<?xml version="1.0" encoding="utf-8"?>

<!-- Pour plus d'informations sur l'utilisation de la transformation web.config, visitez https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Syncytium.Mode" value="UAT" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Syncytium.Debug" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Syncytium.Database.Schema" value="Syncytium_UAT" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Syncytium.Administrator.Login" value="admin-uat" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Syncytium.Administrator.Password" value="9RQjTOYJNkzmyasphEUt" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Syncytium.Administrator.Email" value="aymeric.lesert@concilium-lesert.fr" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Syncytium.Database.Cache" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Syncytium.Logger.MaxDays" value="5" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Syncytium.AppData.MaxDays" value="3" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Syncytium.Connection.Cleanup" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Syncytium.Connection.LotSize" value="524288" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Syncytium.Password.ExpiricyDay" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Syncytium.Client.Log.Enable" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Syncytium.Client.Hub.MaxSize" value="131072" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Syncytium.Client.Hub.Timeout" value="120" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Syncytium.Client.PDF.Font" value="montserrat" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Syncytium.Client.PDF.Web" value="application.syncytium.local" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Syncytium.Client.PDF.Contact" value="aymeric.lesert@concilium-lesert.fr" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Syncytium.Client.PDF.Font" value="montserrat" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Syncytium.Client.HTTP.Document" value="https://application.syncytium.local/wiki/index.php/utilisation/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Syncytium.HTTP.Root" value="https://application.syncytium.local/gestion-uat" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp from="no-reply@syncytium.fr" deliveryMethod="Network">
        <network host="application.syncytium.local" port="25" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>

  <connectionStrings xdt:Transform="Replace">
    <add name="Syncytium" connectionString="server=localhost;port=3306;database=Syncytium_UAT;uid=syncytium;password=syncytium" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>