<?xml version="1.0" encoding="utf-8"?>
<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, visitez
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- Add log4net config section-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <!-- add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" / -->
    <!-- Set configuration items (See ConfigurationManager) -->
    <!-- True or False : Enable the debug mode into the log file, Verbose and All -->
    <add key="Syncytium.Debug" value="Verbose" />
    <!-- DEV, UAT, PROD -->
    <add key="Syncytium.Mode" value="DEBUG" />
    <!-- Definit le schema d'appartenance des objets SQL -->
    <add key="Syncytium.Database.Schema" value="Syncytium_DEBUG" />
    <!-- Definit l'administrateur par défaut -->
    <add key="Syncytium.Administrator.Login" value="admin-debug" />
    <add key="Syncytium.Administrator.Password" value="admin-debug" />
    <add key="Syncytium.Administrator.Email" value="aymeric.lesert@concilium-lesert.fr" />
    <!-- True or False : Enable the database manager cache -->
    <add key="Syncytium.Database.Cache" value="true" />
    <!-- Keep 5 days of log file into the log folder -->
    <add key="Syncytium.Logger.MaxDays" value="5" />
    <!-- Keep 3 days of uploaded file into the folder ~/App_Data -->
    <add key="Syncytium.AppData.MaxDays" value="3" />
    <!-- Waiting 10 seconds before considering that the user is already connected -->
    <add key="Syncytium.Connection.MaxWaiting" value="10" />
    <!-- Notify if all previous connections from the current machine must be cleaned up on starting -->
    <add key="Syncytium.Connection.Cleanup" value="true" />
    <!-- Maximum lot size of the buffer sent to the client (in octet) -->
    <add key="Syncytium.Connection.LotSize" value="65536" />
    <!-- Number of days of validity between the sending of the mail and the changement allowed -->
    <add key="Syncytium.Password.ExpiricyDay" value="1" />
    <!-- Settings for the client side -->
    <!-- Max number of lines (depends on the capacity of the table Commande) -->
    <add key="Syncytium.Client.Menu.MaxLines" value="24" />
    <!-- Enable or disable the log feature into the client (false by default) -->
    <add key="Syncytium.Client.Log.Enable" value="true" />
    <!-- Max size allowed (in Ko) to store the request in the client side before sending it to the server -->
    <add key="Syncytium.Client.Hub.MaxSize" value="131072" />
    <!-- Timeout allowed of the websocket in seconds -->
    <add key="Syncytium.Client.Hub.Timeout" value="180" />
    <!-- default font to use in the PDF document -->
    <add key="Syncytium.Client.PDF.Font" value="montserrat" />
    <!-- Website URL to show in the PDF document -->
    <add key="Syncytium.Client.PDF.Web" value="application.syncytium.local" />
    <!-- Email contact to show in the PDF document -->
    <add key="Syncytium.Client.PDF.Contact" value="aymeric.lesert@concilium-lesert.fr" />
    <!-- default font to use in the PDF document -->
    <add key="Syncytium.Client.PDF.Font" value="montserrat" />
    <!-- CharSet of the CSV file -->
    <add key="Syncytium.Client.CSV.Charset" value="UTF-8" />
    <!-- Separator of the CSV file -->
    <add key="Syncytium.Client.CSV.Separator" value=";" />
    <!-- HTTP Root for the documentation -->
    <add key="Syncytium.Client.HTTP.Document" value="https://application.syncytium.local/wiki/index.php/utilisation/" />
    <!-- HTTP Root -->
    <add key="Syncytium.HTTP.Root" value="http://localhost:55371" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" maxRequestLength="4096" executionTimeout="180" />
    <!-- maxRequestLength indicates the max size of a file to upload -->
    <customErrors mode="Off" defaultRedirect="Error" />
    <authentication mode="Forms">
      <forms loginUrl="~/Administration/User/SignIn" timeout="1200" slidingExpiration="true" />
      <!-- Timeout in minutes describes the validity of the token authentication -->
    </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FirebirdSql.Data.FirebirdClient" publicKeyToken="3750abcc3150b00c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.5.0.0" newVersion="7.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.10.9.0" newVersion="6.10.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp from="no-reply@syncytium.fr" deliveryMethod="Network">
        <network host="application.syncytium.local" port="25" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs\\Syncytium-" />
      <encoding value="iso8859-1" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Composite" />
      <!-- if the value is different than 'Syncytium-'yyyy-MM-dd'.log', the clean up process can't work -->
      <datePattern value="yyyy-MM-dd'.log'" />
      <preserveLogFileNameExtension value="true" />
      <staticLogFileName value="false" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="100MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fff} [%-5level] %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <entityFramework>
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <provider invariantName="FirebirdSql.Data.FirebirdClient" type="EntityFramework.Firebird.FbProviderServices, EntityFramework.Firebird" />
    </providers>
    <defaultConnectionFactory type="EntityFramework.Firebird.FbConnectionFactory, EntityFramework.Firebird" />
  </entityFramework>
  <connectionStrings>
    <add name="Syncytium-oracle" connectionString="DATA SOURCE=//localhost:1521/XE;PERSIST SECURITY INFO=True;USER ID=Syncytium;PASSWORD=Syncytium" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="Syncytium-SqlServer" connectionString="Data Source=localhost\Syncytium;Initial Catalog=Syncytium;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Syncytium-firebird" connectionString="Database=D:\Database\Firebird_3.0\Syncytium\Syncytium.FDB;User=SYSDBA;Password=masterkey;DataSource=localhost;Port=3052;Charset=UNICODE_FSS;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=4096;ServerType=0" providerName="FirebirdSql.Data.FirebirdClient" />
    <add name="Syncytium" connectionString="server=localhost;port=3306;database=Syncytium_DEBUG;uid=syncytium;password=syncytium" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <remove invariant="FirebirdSql.Data.FirebirdClient" />
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.10.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>