<?xml version="1.0"?>
<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, visitez
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- Add log4net config section-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <!-- add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" / -->
    <!-- Set configuration items (See ConfigurationManager) -->
    <add key="Syncytium.Debug" value="Verbose"/>
    <!-- DEV, UAT, PROD -->
    <add key="Syncytium.Mode" value="PROD"/>
    <!-- True or False : Enable the debug mode into the log file -->
    <add key="Syncytium.Database.Schema" value="SYNCYTIUM"/>
    <!-- Definit le schema d'appartenance des objets SQL -->
    <add key="Syncytium.Administrator.Login" value="admin-dev"/>
    <add key="Syncytium.Administrator.Password" value="9RQjTOYJNkzmyasphEUt"/>
    <add key="Syncytium.Administrator.Email" value="myemail@xxxx.fr"/>
    <!-- Definit l'administrateur par défaut -->
    <add key="Syncytium.Database.Cache" value="false"/>
    <!-- True or False : Enable the database manager cache -->
    <add key="Syncytium.Logger.MaxDays" value="5"/>
    <!-- Keep 5 days of log file into the log folder -->
    <add key="Syncytium.AppData.MaxDays" value="3"/>
    <!-- Keep 3 days of uploaded file into the folder ~/App_Data -->
    <add key="Syncytium.Connection.MaxWaiting" value="10"/>
    <!-- Waiting 10 seconds before considering that the user is already connected -->
    <add key="Syncytium.Connection.Cleanup" value="false"/>
    <!-- Notify if all previous connections from the current machine must be cleaned up on starting -->
    <add key="Syncytium.Connection.Notification.LotSize" value="100"/>
    <!-- Lot size of the list of notifications sent to the client -->
    <add key="Syncytium.Password.ExpiricyDay" value="1"/>
    <!-- Number of days of validity between the sending of the mail and the changement allowed -->
    <!-- Settings for the client side -->
    <add key="Syncytium.Client.Log.Enable" value="true"/>
    <!-- Enable or disable the log feature into the client (false by default) -->
    <add key="Syncytium.Client.Hub.MaxSize" value="2048"/>
    <!-- Max size allowed (in Ko) to store the request in the client side before sending it to the server -->
    <add key="Syncytium.Client.PDF.Font" value="roboto"/>
    <!-- default font to use in the PDF document -->
    <add key="Syncytium.Client.HTTP.SubFolder" value=""/>
    <!-- CharSet of the CSV file -->
    <add key="Syncytium.Client.CSV.Charset" value="ISO-8859-15"/>
    <!-- Separator of the CSV file -->
    <add key="Syncytium.Client.CSV.Separator" value=";"/>
    <!-- folder to include between http and the module name -->
    <add key="Syncytium.Heartbeat.Delay" value="30"/>
    <!-- Maximum delay between 2 heartbeats -->
    <add key="Syncytium.HTTP.Root" value="http://localhost:55371"/>
    <!-- HTTP Root -->
  </appSettings>
  <!--
    Pour obtenir une description des modifications de web.config, voir http://go.microsoft.com/fwlink/?LinkId=235367.

    Les attributs suivants peuvent être définis dans la balise <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="4096"/>
    <!-- maxRequestLength indicates the max size of a file to upload -->
    <customErrors mode="Off" defaultRedirect="Error"/>
    <authentication mode="Forms">
      <forms loginUrl="~/User/SignIn" timeout="30"/>
    </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FirebirdSql.Data.FirebirdClient" publicKeyToken="3750abcc3150b00c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NUglify" publicKeyToken="15bc7810aec21b5e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.13.0" newVersion="1.5.13.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Fizzler" publicKeyToken="4ebff4844e382110" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.18.0" newVersion="8.0.18.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.11.2.0" newVersion="3.11.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <!-- TODO : mettre de fausses informations avant de commit-->
      <smtp from="no-reply@syncytium.fr" deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" userName="smtp.syncytium@gmail.com" password="xxxxxx" enableSsl="true" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs\\Syncytium-"/>
      <encoding value="iso8859-1"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <rollingStyle value="Composite"/>
      <!-- if the value is different than 'Syncytium-'yyyy-MM-dd'.log', the clean up process can't work -->
      <datePattern value="yyyy-MM-dd'.log'"/>
      <preserveLogFileNameExtension value="true"/>
      <staticLogFileName value="false"/>
      <maxSizeRollBackups value="2"/>
      <maximumFileSize value="100MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.fff} [%-5level] %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <entityFramework>
    <!-- defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" / -->
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="FirebirdSql.Data.FirebirdClient" type="FirebirdSql.Data.EntityFramework6.FbProviderServices, EntityFramework.Firebird"/>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </providers>
    <defaultConnectionFactory type="EntityFramework.Firebird.FbConnectionFactory, EntityFramework.Firebird"/>
  </entityFramework>
  <connectionStrings>
    <add name="Syncytium-oracle" connectionString="DATA SOURCE=//localhost:1521/XE;PERSIST SECURITY INFO=True;USER ID=SYNCYTIUM;PASSWORD=SYNCYTIUM" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="Syncytium" connectionString="Data Source=localhost\Syncytium;Initial Catalog=Syncytium;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Syncytium-firebird" connectionString="Database=D:\Database\Firebird_3.0\Syncytium\Syncytium.FDB;User=SYSDBA;Password=masterkey;DataSource=localhost;Port=3052;Charset=UNICODE_FSS;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=4096;ServerType=0" providerName="FirebirdSql.Data.FirebirdClient" />
    <add name="Syncytium-mysql" connectionString="server=localhost;port=3306;database=syncytium;uid=syncytium;password=syncytium" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>